<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace相当于是java中的package,用于防止sql语句冲突 -->
<mapper namespace="cn.willhoo.study_lucene_solr.mapper.BookMapper">
	
	
	
	<!-- 获取所有的对象 -->
	<select id="findAll" resultType="book">
		select * from t_book
	</select>
	
</mapper>