<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace相当于是java中的package,用于防止sql语句冲突 -->
<mapper namespace="cn.willhoo.study_lucene_solr.mapper.ProductMapper">
	
	<!-- 获取所有的对象 -->
	<select id="findAll" resultType="product">
		select 
			pid AS id,
			name as name,
			catalog as catelog,
			catalog_name as catalogName,
			price as price,
			number as number,
			description as description,
			picture as picture,
			release_time as releaseTime
        from products
	</select>
	
</mapper>