<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
            ">
	<!-- 配置sqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- mapper文件的地址 -->
        <property name="mapperLocations">
            <array>
                <value>classpath:mappers/*.xml</value>
            </array>
        </property>
        <!-- 配置别名的包 -->
        <property name="typeAliasesPackage" value="cn.willhoo.crm.domain"/>
        <property name="plugins">
            <array>
            	<!-- 配置pageHelper -->
                <bean class="com.github.pagehelper.PageInterceptor">
                    <!-- 这里的几个配置主要演示如何使用，如果不理解，一定要去掉下面的配置 -->
                    <property name="properties">
                        <value>
                            helperDialect=mysql<!-- 设置方言 -->
                            <!-- 分页参数合理化 --><!-- reasonable=true -->
                            <!-- supportMethodsArguments=true -->
                            <!-- params=count=countSql -->
                        </value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>
    
    <!-- 配置mapper接口包扫描 -->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	<!-- 配置需要被扫描的包,如果需要扫描多个包,则使用","分开 -->
    	<property name="basePackage" value="cn.willhoo.crm.mapper"/>
    </bean>
    
</beans>